<section class="form-creation">
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button id="button-basic">
		<a class="button-link" href="">{{ button_label|default('Save') }}</a>
		<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
		<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
	</button>


	{{ form_end(form) }}
</section>
