{% extends 'association/base_association.html.twig' %}

{% block title %}Evenements
{% endblock %}
{% block body %}
	<style>
		.flex-ul {
			display: flex;
			/* Add any additional styling here */
			list-style: none; /* Removes bullet points */
			gap: 10px; /* Adds space between items */
		}
	</style>
	<section class="banner-events">
		<img id="img-bannier" src="{{ asset('img/banners/banner-event.png')}}" alt="Banniere Home">
		{% include 'association/sidebar.html.twig' %}
	</section>

	<section class="introduction">
		<h2>Evenements</h2>
		<p class="text-introduction">Maecenas id lorem massa. Vivamus a dolor ex. Morbi nibh sapien, finibus sed
									            hendrerit nec, congue id mauris. Cras id
									            rutrum odio, sed maximus ex. Ut condimentum a felis vitae blandit. Pellentesque felis nibh, hendrerit quis
									            sem eget,
									            lobortis varius tortor. Morbi consequat ligula erat, in interdum lectus volutpat ac. Nullam viverra urna
									            tempus turpis
									            interdum, in eleifend ligula feugiat. Duis fermentum lectus consectetur mauris vestibulum efficitur. Cras
									            sagittis
									            mauris ipsum, sit amet tempus tortor venenatis a. In suscipit venenatis venenatis. Lorem ipsum dolor sit
									            amet,
									            consectetur adipiscing elit. Phasellus congue eros lorem, sed eleifend elit vehicula eget. In rutrum, lectus
									            a egestas
									            rutrum, tortor odio viverra eros, et scelerisque lorem libero id lectus.</p>
	</section>

		<section class="events">
			{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROPRIETAIRE') %}
				<div class="add-more">
					<a href="{{ path('association_evenements_new', {'name': name}) }}"><img src="{{ asset('icons/orange/add-more.svg') }}" alt="Add More"></a>
				</div>
			{% endif %}
			<div class="grid-3 grid-1-mobile">
				{% for evenement in evenements %}
					<div class="grid-item">
						<img class="image-event" src="{{ asset('uploads/evenements/' ~ evenement.event.nom ~ '.png') }}" alt="assets/img/test_image_grid1">
						<h3 class="event-title">{{ evenement.event.nom }}</h3>
						<p class="event-date">
                            {% if evenement.event.dateDebut|date('Y-m-d') == evenement.event.dateFin|date('Y-m-d') %}
						        Date : {{ evenement.event.dateDebut|date('d-m-Y') }}
                            {% else %}
                                Du {{ evenement.event.dateDebut|date('d-m-Y') }}
                                au
                                    {{ evenement.event.dateFin|date('d-m-Y') }}</td>
                            {% endif %}
                        </p>
						<div class="bottom-border"></div>
						<p class="event-info">{{ evenement.event.description }}</p>
						<p class="event-place">{{ evenement.event.lieu }}</p>
						<button id="button-basic">
							<a class="button-link" href="{{ path('association_evenements_add', {'id': evenement.event.id, 'name': name}) }}">
                                {% if evenement.participate %}
								    Annuler participation
                                {% else %}
                                    Participer
                                {% endif %}
                            </a>
							<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
							<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
						</button>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROPRIETAIRE') %}
                            <a href="{{ path('association_evenements_edit', {'id': evenement.event.id, 'name': name}) }}">Modifier</a>
                            <a href="{{ path('association_evenements_delete', {'id': evenement.event.id, 'name': name}) }}">Supprimer</a>
                        {% endif %}
					</div>
				{% endfor %}
			</div>
		</section>
	</table>
{% endblock %}
