{% extends 'base.html.twig' %}

{% block body %}

<header>
    <nav>
            <a href="index.html" class="logo"><img src="{{ asset('logos/portal-asso.svg')}}" alt="Menu Icon"></a>
            <ul class="nav-menu">
            <li><a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
            {% if paiement is same as(true) %}
                <li><a href="{{ path('home') }}" class="nav-link">Paiement</a></li>
            {% endif %}
            {% if evenement is same as(true) %}
                <li><a href="{{ path('association_evenements', {'name' : name}) }}" class="nav-link">Evenement</a></li>
                <li><a href="{{ path('home') }}">Calendrier</a></li>
            {% endif %}
            {% if message is same as(true) %}
                <li><a href="{{ path('home') }}" class="nav-link">Contact</a></li>
            {% endif %}
            {% if galerie is same as(true) %}
                <li><a href="{{ path('home') }}" class="nav-link">Galerie</a></li>
            {% endif %}
            </ul>
           
            <ul class="left-icons-nav">
                <li><a href="{{ path('association_profil', {'name' : name}) }}"><img src="{{ asset('icons/black/person-circle.svg')}}" alt="User Icon"></a></li> 
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_PROPRIETAIRE')%}
                <li><a href="javascript:void(0);" id="menu-icon"><img src="{{ asset('icons/black/lateral-menu.svg')}}" alt="Menu Icon"></a></li>
            {% endif %}
            </ul>
    </nav>
    </header>    

{% endblock %}

