{% extends 'association/base_association.html.twig' %}

{% block title %}
	{{ name }}
{% endblock %}
{% block body %}

	<a href="#site-body" class="scrollTop"><img class="flecheTop" src="{{ asset('icons/orange/up-arrow.svg')}}"/></a>

	<section class="banner-home">
		<img id="img-bannier" src="{{ asset('img/banners/banner-home.png')}}" alt="Banniere Home">
		{% include 'association/sidebar.html.twig' %}
	</section>

	<section class="introduction">
		<h2>Bienvenue sur PortalAsso</h2>
		<p class="text-introduction">Maecenas id lorem massa. Vivamus a dolor ex. Morbi nibh sapien, finibus sed
																																																							            hendrerit nec, congue id mauris. Cras id
																																																							            rutrum odio, sed maximus ex. Ut condimentum a felis vitae blandit. Pellentesque felis nibh, hendrerit quis
																																																							            sem eget,
																																																							            lobortis varius tortor. Morbi consequat ligula erat, in interdum lectus volutpat ac. Nullam viverra urna
																																																							            tempus turpis
																																																							            interdum, in eleifend ligula feugiat. Duis fermentum lectus consectetur mauris vestibulum efficitur. Cras
																																																							            sagittis
																																																							            mauris ipsum, sit amet tempus tortor venenatis a. In suscipit venenatis venenatis. Lorem ipsum dolor sit
																																																							            amet,
																																																							            consectetur adipiscing elit. Phasellus congue eros lorem, sed eleifend elit vehicula eget. In rutrum, lectus
																																																							            a egestas
																																																							            rutrum, tortor odio viverra eros, et scelerisque lorem libero id lectus.</p>
	</section>
	
	<section class="rubrics">
		<h2 class="section-title">Rubriques</h2>
		<div class="grid-3">
			{% if paiement is same as(true) %}
				<div class="grid-item">
					<img class="img-rubrics" src="{{ asset('img/banners/banner-home.png') }}" alt="event">
					<button id="button-basic">
						<a class="button-link" href="{{ path('association_paiement', {'name' : name}) }}">Paiement</a>
						<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
						<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
					</button>
				</div>
			{% endif %}
			{% if evenement is same as(true) %}
				<div class="grid-item">
					<img class="img-rubrics" src="{{ asset('img/banners/banner-event.png') }}" alt="event">
					<button id="button-basic">
						<a class="button-link" href="{{ path('association_evenements', {'name' : name}) }}">Événements</a>
						<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
						<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
					</button>
				</div>
				<div class="grid-item">
					<img class="img-rubrics" src="{{ asset('img/banners/banner-calendar.png') }}" alt="event">
					<button id="button-basic">
						<a class="button-link" href="{{ path('association_calendar', {'name' : name}) }}">Calendrier</a>
						<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
						<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
					</button>
				</div>

			{% endif %}
			{% if galerie is same as(true) %}
				<div class="grid-item">
					<img class="img-rubrics" src="{{ asset('img/banners/banner-gallery.png') }}" alt="event">
					<button id="button-basic">
						<a class="button-link" href="">Galerie</a>
						<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
						<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
					</button>
				</div>
			{% endif %}
			{% if message is same as(true) %}
				<div class="grid-item">
					<img class="img-rubrics" src="{{ asset('img/banners/banner-contact.png') }}" alt="event">
					<button id="button-basic">
						<a class="button-link" href="{{ path('association_contact', {'name' : name}) }}">Contact</a>
						<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
						<img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
					</button>
				</div>
			{% endif %}
		</div>
	</section>


	<script>
		document.addEventListener('DOMContentLoaded', function () {
const menuIcone = document.getElementById("menu-icon");
const sidebar = document.getElementById("sidebar");

if (sidebar) {
sidebar.style.width = "0";
menuIcone.addEventListener("click", () => {
sidebar.style.width = (sidebar.style.width === "300px") ? "0" : "300px";
});
} else {
console.error("L'élément avec l'ID 'sidebar' est introuvable.");
}
});
	</script>


	{% include 'footer.html.twig' %}

{% endblock %}
