{% extends 'association/base_association.html.twig' %}

{% block title %}Profil
{% endblock %}
{% block body %}

<a href="#site-body" class="scrollTop"><img class="flecheTop" src="{{ asset('icons/orange/up-arrow.svg')}}"/></a>

<section class="banner-home">
	<img id="img-bannier" src="{{ asset('img/banners/banner-my-profile.png')}}" alt="Banniere Contact">
	{% include 'association/sidebar.html.twig' %}
</section>

{# {{ include('association/header.html.twig', {
            'paiement': paiement,
            'message': message,
            'evenement': evenement,
            'galerie': galerie
        }) }} #}

<section class="introduction">
	<h2>Contact</h2>
	<p class="text-introduction">Maecenas id lorem massa. Vivamus a dolor ex. Morbi nibh sapien, finibus sed
		                                                                                            hendrerit nec, congue id mauris. Cras id
		                                                                                            rutrum odio, sed maximus ex. Ut condimentum a felis vitae blandit. Pellentesque felis nibh, hendrerit quis
		                                                                                            sem eget,
		                                                                                            lobortis varius tortor. Morbi consequat ligula erat, in interdum lectus volutpat ac. Nullam viverra urna
		                                                                                            tempus turpis
		                                                                                            interdum, in eleifend ligula feugiat. Duis fermentum lectus consectetur mauris vestibulum efficitur. Cras
		                                                                                            sagittis
		                                                                                            mauris ipsum, sit amet tempus tortor venenatis a. In suscipit venenatis venenatis. Lorem ipsum dolor sit
		                                                                                            amet,
		                                                                                            consectetur adipiscing elit. Phasellus congue eros lorem, sed eleifend elit vehicula eget. In rutrum, lectus
		                                                                                            a egestas
		                                                                                            rutrum, tortor odio viverra eros, et scelerisque lorem libero id lectus.</p>
</section>

<table border="1" class="superadmin-table">
<thead>
	<tr>
		<th>Nom</th>
		<th>Prenom</th>
		<th>Email</th>
	</tr>
</thead>
<tbody>
	<tr>
		<td>{{ user.nom }}</td>
		<td>{{ user.prenom }}</td>
		<td>{{ user.email }}</td>
	</tr>
</tbody></table>

<section class="events">
<h2>Toutes vos participations aux evenements</h2>{% if evenements is empty %}
<p>Vous ne participez à aucun événement.</p>{% else %}
	<div class="grid-3 grid-1-mobile">
		{% for evenement in evenements %}
			<div class="grid-item">
				<img class="image-event" src="{{ asset('uploads/evenements/' ~ evenement.nom ~ '.png') }}" alt="assets/img/test_image_grid1">
				<h3 class="event-title">{{ evenement.nom }}</h3>
				<p class="event-date">
					{% if evenement.dateDebut|date('Y-m-d') == evenement.dateFin|date('Y-m-d') %}
						Date :
						{{ evenement.dateDebut|date('d-m-Y') }}
					{% else %}
						Date : du
						{{ evenement.dateDebut|date('d-m-Y') }}
						au
						{{ evenement.dateFin|date('d-m-Y') }}</td>
				{% endif %}
			</p>
			<div class="bottom-border"></div>
			<p class="event-info">{{ evenement.description }}</p>
			<p class="event-place">{{ evenement.lieu }}</p>
		</div>
	{% endfor %}
</div></section>{% endif %}

<button id="button-basic">
<a class="button-link" href="{{ path('logout')}}">Se deconnecter</a>
	<img class="right-arrow normal" src="{{ asset('icons/blue/right-arrow.svg') }}" alt="Right Arrow">
    <img class="right-arrow hover" src="{{ asset('icons/white/right-arrow.svg') }}" alt="Right Arrow">
</button>

{% include 'footer.html.twig' %}



<script>document.addEventListener('DOMContentLoaded', function () {
const menuIcone = document.getElementById("menu-icon");
const sidebar = document.getElementById("sidebar");

if (sidebar) {
sidebar.style.width = "0";
menuIcone.addEventListener("click", () => {
sidebar.style.width = (sidebar.style.width === "300px") ? "0" : "300px";
});
} else {
console.error("L'élément avec l'ID 'sidebar' est introuvable.");
}
});</script>{% endblock %}{% block stylesheets %}{{ parent() }}<style>ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 10px;
}</style>



{% endblock %}
