{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

<h1>Admin Dashboard</h1>

{% if is_granted('ROLE_SUPERADMIN') %}
    <p>Welcome, {{user.prenom}}!</p>
    
    <a href="{{ path('superadmin_new_asso')}}">Create a new Asso</a>
    <a href="{{ path('superadmin_new_user')}}">Create a new User</a>
    <a href="{{ path('superadmin_logout')}}">Logout</a>
    
    <p>Here is the list of all associations</p>
    <table>
        <tr>
            <th>Site</th>
            <th>Propriétaire</th>
            <th>Nombre de membres</th>
        </tr>
         {% for item in assos %}
            <tr>
                <td>{{ item.association.nom }}</td>
                <td>
                    {% for proprietaire in proprietaire %}
                        {% if proprietaire.asso.id == item.association.id %}
                            {{ proprietaire.prenom }}
                        {% endif %}
                    {% endfor %}
                </td>
                <td>{{ item.userCount }}</td>
            </tr>
        {% endfor %}
    
{% else %}
    <p>Sorry, you are not an Admin.</p>
{% endif %}

{% endblock %}