{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('superadmin_logout') }}">Logout</a>
        </div>
    {% endif %}

    {# <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" name="_remember_me"> Remember me
        </label>
    </div>

    <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button> #}

    <section class="login-section">
        <div class="container-center">
            <div class="grid-1">
                <div class="grid-item">
                    <img src="{{ asset('logos/portal-asso.png') }}" alt="Logo">
                    <form class="login-form">
                        <div class="input-container">
                            <input type="email" value="{{ last_username }}" name="email" placeholder="Email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
                        </div>
                        <div class="input-container">
                            <input type="password" name="password" id="inputPassword" placeholder="Mot de passe" class="form-control" autocomplete="current-password" required>
                        </div>
                        <div class="checkbox-connexion">
                            <input type="hidden" name="_csrf_token"
                                value="{{ csrf_token('authenticate') }}"
                            >
                            <label>
                                <input type="checkbox" checked disabled name="_remember_me" id="remember-me-checkbox">
                                    <img id="checkbox-img" src="{{ asset('icons/orange/checkbox-false.svg') }}" alt="Checkbox">                                Se souvenir de moi
                            </label>
                        </div>
                        <button id="button-third" type="submit">
                            <a class="button-link">Connexion</a>
                        </button>
                        <a href="#" class="forgot-password">Mot de passe oublié ?</a>
                    </form>
                </div>
            </div>
        </div>
    </section>

<script>
   document.addEventListener('DOMContentLoaded', function() {
    var checkbox = document.getElementById('remember-me-checkbox');
    var checkboxImage = document.getElementById('checkbox-img');

    checkbox.addEventListener('change', function() {
        if (checkbox.checked) {
            checkboxImage.src = "{{ asset('icons/orange/checkbox-true.svg') }}";
        } else {
            checkboxImage.src = "{{ asset('icons/orange/checkbox-false.svg') }}";
        }
    });
});
</script>

{% endblock %}

