{{ form_start(form) }}
<section class="logo-section">
	<div class="container-center">
		<h2>Ajouter un logo</h2>
		<div class="step-container">
			<div class="step">
				3
			</div>
		</div>

		<div class="grid-item">
			<a class="return-arrow" href="rubriques-choix.html">
				<img src="{{ asset('icons/orange/left-arrow.svg') }}" alt="Return Arrow">
			</a>

			{# <div class="logo-change">
				<img src="{{ asset('logos/logo.png') }}" alt="Logo">
			</div> #}

			<div class="file-choose">
				{{ form_label(form.logo, 'Ajouter un fichier', {'label_attr': {'class': 'custom-label'}}) }}
				{{ form_widget(form.logo, {'attr': {'id': 'file-upload', 'class': 'custom-file-input'}}) }}
				<label for="file-upload">
					<img src="{{ asset('icons/black/upload.svg') }}" alt="Upload Icon">
				</label>
			</div>

			<p class="limit-files">La limite de vos fichiers ne doit pas dépasser 100 Mo</p>

			<button type="submit" class="btn">{{ button_label|default('Save') }}</button>
			{# </div> #}
		</div>
	</section>
	{{ form_end(form) }}
